.svg__container-button {
  width: 21px;
  height: 21px;
  fill: var(--hover-color);
  mix-blend-mode: difference;
  object-fit: contain;
}

@media (width <=600px){
  .svg__container-button {
    inline-size: 28px;
    block-size: 28px;
  }
}