.svg__container-button {
  width: 21px;
  height: 21px;
  fill: var(--hover-color);
  mix-blend-mode: difference;
}

@media (width <=600px){
  .svg__container-button {
    width: 28px;
    height: 28px;
  }
}