.svg__container-button {
  inline-size: 21px;
  block-size: 21px;
  fill: var(--hover-color);
  mix-blend-mode: difference;
}

@media (width <=600px){
  .svg__container-button {
    inline-size: 28px;
    block-size: 28px;
  }
}