.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto 102px;
  border: 2px solid var(--accent-color);
  padding: 18.5px 21px;
  font-family: var(--main-font);
  background-color: var(--base-color);
  max-inline-size: 340px;
  &:hover {
    animation: paintingBlack 0.5s ease-in-out;
  }
}

@media (width <=375px) {
  .button__save {
    flex-direction: column;
  }
}