button.button__save(type="button" onclick="window['dialog-id'].showModal();" aria-controls="dialog-id")
  .svg__container-button            
    include ../diskette/diskette_save
  p.button__text Сохранить на память
