.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto 102px;
  border: 2px solid $accent-color;
  padding: 18.5px 21px;
  font-family:  $main-font;
  background-color: $base-color;
  &:hover {
    cursor: pointer;
    animation: paintingBlack 0.5s ease-in-out;
  }
}
