.button {
  background-color: var(--stroke);
  border: 2px solid var(--accent-color);
  position: relative;
  // z-index: 1;
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--accent-color);
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
  }
  &:hover {
    color: var(--stroke);
    &::before {
      content: " ";
      transform: scaleX(1);
      transition: transform 0.5s ease-in-out;
    }
  }
}


