button.button__save.button(type="button" onclick="window['dialog-id'].showModal();" aria-controls="dialog-id")
  span.svg__container-button            
    include ../diskette/diskette_popup
  span.button__text Сохранить на память
