.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto 102px;
  border: 2px solid black;
  padding: 18.5px 21px;
  font-family: "PressStart2P-Regular", system-ui;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}
