dialog.popup#dialog-id
  .popup__container
    .svg__container-popup
      include ../diskette/diskette_popup
    p.popup__text Вставьте дискету, чтобы продолжить
  button.popup__button.button(type="button" onclick="window['dialog-id'].close();")
    span.button__text Ок