.popup {
  font-family: var(--main-font);
  max-inline-size: 353px;
  border: 2px solid var(--accent-color);
  padding: 31.5px;
  background-color: var(--base-color);
  color: var(--accent-color);
}

@media (width >= 375px){
  .popup {
    max-inline-size: 341px;
  }
}