.card__icon-button {
  border: none;
  background-color: transparent;
  transition: outline 0.3s ease;
  padding: 2px 2px;
  &:focus-visible {
    outline:2px solid var(--accent-color);
  }
 }

.sparks {
  fill: none;
}


@media (width <= 600px){
  .card__icon-button {
    padding: 5px 4px;
  }
}

