.card__like-button {
  padding:  6.5px 36px;
  border: 2px solid var(--accent-color);
  background-color: inherit;
  &:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
    transition: box-shadow 0.3s;
  }
}
