.card__watermark {
  position: absolute;
  z-index: 3;
  opacity: 0.5;
  color: var(--accent-color);
  font-family:  var(--main-font);
  font-size: 14px;
  line-height: 1;
  text-shadow: 1px 1px var(--stroke), -1px -1px var(--stroke);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  max-inline-size: 280px;
}


@supports ((-webkit-text-stroke: 1px var(--stroke)) or (text-stroke: 1px var(--stroke))){
  .card__watermark {
    text-shadow: none;
    text-stroke: 1px var(--stroke);
    -webkit-text-stroke: 1px var(--stroke);
  }
}
