.card__like-button {
  padding:  12.5px 37px;
  border: 2px solid var(--accent-color);
  background-color: inherit;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    animation: paintingBlack 0.5s ease-in-out;
  }
  &:focus {
    outline: none; 
  }
  &:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
  }
}

@keyframes paintingBlack {
	0% {
		box-shadow: inset 0 0 0 0 var(--accent-color);
	}
	50% {
		box-shadow: inset 10vw 0 0 0 var(--accent-color);
    color: #fff;
	}
	100% {
		box-shadow: inset 100vw 0 0 0 var(--accent-color);
    color: #fff;
	}
}