.like-icon {
  display: inline-block;
  height: 39px;
  inline-size: 36px;
  padding: 2px 0;
  .contour {
    fill: var(--accent-color);
    transition: fill 0.1s linear;
  }
  .core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear;
  }
  .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
  }
  &:hover {
    .core {
      fill: var(--accent-color);
      transition: fill 0.3s linear;
    }
    .main-body {
      fill: var(--accent-color);
      transition: fill 0.3s linear 0.05s;
    }
  }
  &:active {
    .core {
      fill: var(--heart-active);
      transition: fill 0.3s linear;
    }
    .main-body {
      fill: var(--heart-active);
      transition: fill 0.3s linear 0.05s;
    }
  }
  &.is-liked {
    .contour {
      fill: var(--heart-active);
      transition: fill 0.3s linear 0.06s;
    }
    .core {
      fill: var(--heart-active);
      transition: fill 0.3s linear;
    }
    .main-body {
      fill: var(--heart-active);
      transition: fill 0.3s linear 0.05s;
    }
    .sparks {
      fill: var(--heart-active);
      animation: sparks 0.3s ease-in 0.3s alternate 1;
    }
    .heart {
      animation: heartScale 0.3s ease-in 0.1s alternate 1;
      transform-origin: center;
    }
  }
}


@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes heartScale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}
