.card__watermark {
  position: absolute;
  color: var(--accent-color);
  -webkit-text-stroke: 1px var(--stroke);
  text-shadow: -1px 0 var(--stroke), 0 1px var(--stroke), 1px 0 var(--stroke), 0 -1px var(--stroke);
  right: 25px;
  top: 25px;
  font-family:  var(--main-font);
  z-index: 3;
  white-space: nowrap;
  font-size: 14px;
}
