.card__watermark {
  position: absolute;
  color: black;
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  right: 25px;
  top: 25px;
  font-family:  var(--main-font);
  z-index: 3;
}
