
:root{
&.theme-light {
	--gradient-inline: #d3d3d3;
	--gradient-block-start: #e7e7e7;
	--gradient-block-end: #1a1a1a;
	--accent-color: #000;
	--base-color: #fff;
	--heart-active: #f00;
	--stroke: #fff;
	--main-font-weight: 400;
  --accent-font-weight: 700;
}
}
:root {
  &.theme-dark {
	--gradient-inline: #000;
	--gradient-block-start: #007f0c;
	--gradient-block-end: #004306;
	--accent-color: #00cc14;
	--base-color: #000;
	--heart-active: #f00;
	--stroke: #000;
	--main-font-weight: 465;
  --accent-font-weight: 785;
}
}

@media (prefers-color-sheme: dark) {
	:root {
		--gradient-inline: #000;
		--gradient-block-start: #007f0c;
		--gradient-block-end: #004306;
		--accent-color: #00cc14;
		--base-color: #000;
		--heart-active: #f00;
		--stroke: #000;
		--main-font-weight: 465;
		--accent-font-weight: 785;
	}
}
