/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
$main-font: "PressStart2P-Regular";
$text-font: "Inter-Variable";
$bg-color: linear(#E7E7E7 #1A1A1A); 