.header__title {
    line-height: 1;
}

@media (width >= 600px) {
  .header__title {
  margin-block-end: 18px;
  }
}

@media (width >= 375px){
    .header__title {
      font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    }
  }

  
  @media (width >= 375px) and (width <=600){
    .header__title {
      margin-block-end: 24px;
    }
  }
 

@media (width < 375px){
    .header__title {
      font-size: 18px;
      margin-block-end: 23px;
    }
  }
 
  