.header {
  font-family: "PressStart2P-Regular", system-ui;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  margin-block-start: 100px;
  margin-block-end: 102px;
  padding: 132px 0 25px;
  background-color: white;
}