.header {
  font-family:  var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--accent-color);
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding: 139px 0 22px;
  background-color: var(--base-color);
  text-transform: uppercase;
}


@media (width <=600px){
  .header {
  padding: 121px 0 25px;
  }
}