.theme-menu__button {
  border: none;
  background: inherit;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  &:disabled{
    opacity: 0.6;
    color:  var(--accent-color);
    &::before {
      content: "▶";
      display: inline-block;
      position: absolute;
      left: -30px;
      animation: backandforth 0.5s alternate ease-in-out infinite;
    }
  }
  &::after {
    content: "";
    inline-size: 0;
    block-size: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--accent-color);
    opacity: 0.6;
    transition: 400ms;
  }
  &:focus-visible {
    opacity: 0.6;
    color: var(--accent-color);
    &::after {
      inline-size: 100%;
    }
  }
}

@keyframes backandforth {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(4px);
	}
}

