block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title 
    link(rel="stylesheet", href="/bundle.css")
  body.page
    include ../components/header/header
    block header
    block content   
    include ../components/button/button    
    block button
    script(src="./scripts/like.js")