  :root {
  --main-font: "PressStart2P", fantasy;
  --text-font: "Inter",sans-serif;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --gradient-inline: #d3d3d3;
  --gradient-block-start: #e7e7e7;
  --gradient-block-end: #1a1a1a;
  --accent-color: #000;
  --base-color: #fff;
  --heart-active: #f00;
  --stroke: #fff;
  --hover-color: #fff;
  }

